@page "/sign-up"
@attribute [AllowAnonymous]
@using Restaurant.UI.Components
@using Restaurant.UI.Components.Errors
@using Restaurant.UI.Components.Inputs;
@using System.ComponentModel.DataAnnotations;
@using System.Linq.Expressions;
@using Restaurant.UI.Components.NavigationButton
@using Restaurant.UI.Security;
@using Restaurant.UI.Services.Abstractions;
@inject IAuthenticationService AuthenticationService;
@inject NavigationManager NavigationManager;
@inject ILogger<SignUpPage> Logger;

<h3>Register</h3>

<AuthorizeView>
    <Authorized>
        <RedirectToComponent Path="/" />
    </Authorized>
</AuthorizeView>


@if (!string.IsNullOrWhiteSpace(Error))
{
    <ErrorComponent Text="@Error" />
}
<EditForm EditContext="@EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <InputTextFormComponent Label="Email" Type="InputTextFormType.Email" @bind-Value="Form.Email" Error="@(context.GetValidationMessage(() => Form.Email))" />
    <InputTextFormComponent Id="password" Label="Password" Type="InputTextFormType.Password" @bind-Value="Form.Password" Error="@(context.GetValidationMessage(() => Form.Password))" />
    <InputTextFormComponent Id="confirm-password" Label="Confirm Password" Type="InputTextFormType.Password" @bind-Value="Form.ConfirmPassword" Error="@(context.GetValidationMessage(() => Form.ConfirmPassword))" />
    <div class="mt-2">
        <button class="btn btn-success" type="submit">Register</button>
        <NavigationButtonComponent Text="Cancel" Url="/" />
    </div>
</EditForm>


@code {

    public bool Loading { get; set; }
    public SignInForm Form { get; set; } = new();
    public EditContext? EditContext;
    public string? Error;

    public class SignInForm
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [RegularExpression("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d\\w\\W]{8,}$", ErrorMessage = "Password should have at least 8 characters, including upper letter and number")]
        public string Password { get; set; } = "";

        [Required]
        [RegularExpression("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d\\w\\W]{8,}$", ErrorMessage = "Password should have at least 8 characters, including upper letter and number")]
        [Compare(nameof(Password), ErrorMessage = "Passwords don't match")]
        public string ConfirmPassword { get; set; } = "";
    }

    protected override void OnInitialized()
    {
        EditContext = new(Form);
        base.OnInitialized();
    }

    private async Task HandleValidSubmit()
    {
        Error = "";
        if (EditContext is null)
        {
            Error = "Something bad happen, please try again later";
            return;
        }

        if (!EditContext.Validate())
        {
            return;
        }

        try
        {
            await AuthenticationService.SignUpAsync(new DTO.SignUpDto(Form.Email, Form.Password));
            NavigationManager.NavigateTo("/");
        }
        catch (Exception exception)
        {
            if (exception is RpcException)
            {
                var status = ((RpcException)exception).Status;

                if (status.StatusCode is StatusCode.InvalidArgument or StatusCode.FailedPrecondition)
                {
                    Error = status.Detail;
                }
                else
                {
                    Error = "Something bad happen please try again later";
                }
            }

            Logger.LogError(exception, exception.Message);
        }
    }
}
