@page "/sign-up"
@attribute [AllowAnonymous]
@using Restaurant.UI.Components
@using Restaurant.UI.Components.Errors
@using Restaurant.UI.Components.Inputs;
@using System.ComponentModel.DataAnnotations;
@using System.Linq.Expressions;
@using Restaurant.UI.Components.NavigationButton
@using Restaurant.UI.Security;
@using Restaurant.UI.Services.Abstractions;
@inject IAuthenticationService AuthenticationService;
@inject NavigationManager NavigationManager;
@inject ILogger<SignUpPage> Logger;

<h3>Register</h3>

<AuthorizeView>
    <Authorized>
        <RedirectToComponent Path="/" />
    </Authorized>
</AuthorizeView>


@if (!string.IsNullOrWhiteSpace(_error))
{
    <ErrorComponent Text="@_error" />
}
<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <InputTextFormComponent Label="Email" Type="InputTextFormType.Email" @bind-Value="Form.Email" Error="@(GetValidationMessage(context, () => Form.Email))" />
    <InputTextFormComponent Label="Password" Type="InputTextFormType.Password" @bind-Value="Form.Password" Error="@(GetValidationMessage(context, () => Form.Password))" />
    <InputTextFormComponent Label="Confirm Password" Type="InputTextFormType.Password" @bind-Value="Form.ConfirmPassword" Error="@(GetValidationMessage(context, () => Form.ConfirmPassword))" />
    @if (_error is not null)
    {
        <div class="mt-2">
            <ErrorComponent Text="@_error" />
        </div>
    }
    <div class="mt-2">
        <button class="btn btn-success" type="submit">Register</button>
        <NavigationButtonComponent Text="Cancel" Url="/" />
    </div>
</EditForm>


@code {

    public bool Loading { get; set; }
    private SignInForm Form { get; set; } = new();
    private EditContext? editContext;
    private string? _error;

    private class SignInForm
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [RegularExpression("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d\\w\\W]{8,}$", ErrorMessage = "Password should have at least 8 characters, including upper letter and number")]
        public string Password { get; set; } = "";

        [Required]
        [RegularExpression("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d\\w\\W]{8,}$", ErrorMessage = "Password should have at least 8 characters, including upper letter and number")]
        [Compare(nameof(Password), ErrorMessage = "Passwords don't match")]
        public string ConfirmPassword { get; set; } = "";
    }

    protected override void OnInitialized()
    {
        editContext = new(Form);
        base.OnInitialized();
    }

    private string GetValidationMessage(EditContext editContext, Expression<Func<object>> field)
    {
        var validationMessage = editContext.GetValidationMessages(field).FirstOrDefault();
        return validationMessage ?? "";
    }

    private async Task HandleValidSubmit()
    {
        _error = "";
        if (editContext is null)
        {
            _error = "Something bad happen, please try again later";
            return;
        }

        if (!editContext.Validate())
        {
            return;
        }

        try
        {
            await AuthenticationService.SignUpAsync(new DTO.SignUpDto(Form.Email, Form.Password));
            NavigationManager.NavigateTo("/");
        }
        catch (Exception exception)
        {
            if (exception is RpcException)
            {
                var status = ((RpcException)exception).Status;

                if (status.StatusCode is StatusCode.InvalidArgument or StatusCode.FailedPrecondition)
                {
                    _error = status.Detail;
                }
                else
                {
                    _error = "Something bad happen please try again later";
                }
            }

            Logger.LogError(exception, exception.Message);
        }
    }
}
